<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <img src="../../../assets/perfilPhoto.jpg" alt="" 
            class="img-fluid" id="foto_perfil">
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <p id="nombre">Gutierrez Alexis Nahuel</p>
            <p>Full Stack Developer Jr</p>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <span>
                <h1>Acerca de mí</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Accusantium eius incidunt labore dignissimos, soluta perspiciatis vel veritatis iste. 
                    Consectetur officia quo tempora repudiandae ducimus maiores minus assumenda nisi. 
                    Debitis, officia?</p>
            </span>
        </div>
    </div>
</div>

