<div class="container-fluid">
    <div class="row">
        <h1>Hard & Soft skills</h1>
        <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="70"
            [radius]="100"
            [imageSrc]="'../assets/eng.png'"
            [showImage]="true"
            [imageHeight]="90"
            [imageWidth]="90"
            [outerStrokeWidth]="9"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#FF6347'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="600"
            [showSubtitle]="false"
            [titleFontSize]="'30'"
            [titleFontWeight]="'600'"
        ></circle-progress>
        </div>
        <div class="text-center col-sm-4 col-md-4 col-lg-4">
            <circle-progress
                [percent]="80"
                [radius]="100"
                [imageSrc]="'../assets/html5.png'"
                [showImage]="true"
                [imageHeight]="90"
                [imageWidth]="90"
                [outerStrokeWidth]="9"
                [innerStrokeWidth]="5"
                [outerStrokeColor]="'#FF6347'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="600"
                [showSubtitle]="false"
                [titleFontSize]="'30'"
                [titleFontWeight]="'600'"
            ></circle-progress>
        </div>
        <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="70"
            [radius]="100"
            [imageSrc]="'../assets/css3.png'"
            [showImage]="true"
            [imageHeight]="90"
            [imageWidth]="70"
            [outerStrokeWidth]="9"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#FF6347'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="600"
            [showSubtitle]="false"
            [titleFontSize]="'30'"
            [titleFontWeight]="'600'"
        ></circle-progress>
        </div>
        <div class="text-center col-sm-4 col-md-4 col-lg-4">
            <circle-progress
                [percent]="60"
                [radius]="100"
                [imageSrc]="'../assets/javascript.png'"
                [showImage]="true"
                [imageHeight]="80"
                [imageWidth]="150"
                [outerStrokeWidth]="9"
                [innerStrokeWidth]="5"
                [outerStrokeColor]="'#FF6347'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="600"
                [showSubtitle]="false"
                [titleFontSize]="'30'"
                [titleFontWeight]="'600'"
            ></circle-progress>
        </div>
        <div class="text-center col-sm-4 col-md-4 col-lg-4">
            <circle-progress
                [percent]="75"
                [radius]="100"
                [imageSrc]="'../assets/python.png'"
                [showImage]="true"
                [imageHeight]="90"
                [imageWidth]="90"
                [outerStrokeWidth]="9"
                [innerStrokeWidth]="5"
                [outerStrokeColor]="'#FF6347'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="600"
                [showSubtitle]="false"
                [titleFontSize]="'30'"
                [titleFontWeight]="'600'"
            ></circle-progress>
        </div>
        <div class="text-center col-sm-4 col-md-4 col-lg-4">
            <circle-progress
                [percent]="100"
                [radius]="100"
                [imageSrc]="'../assets/grupal.png'"
                [showImage]="true"
                [imageHeight]="90"
                [imageWidth]="90"
                [outerStrokeWidth]="9"
                [innerStrokeWidth]="5"
                [outerStrokeColor]="'#FF6347'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="600"
                [showSubtitle]="false"
                [titleFontSize]="'30'"
                [titleFontWeight]="'600'"
            ></circle-progress>
        </div>
    </div>
</div>
