<div class="container-fluid">
    <div class="row">
        <h1>Educacion</h1>
        <div class="col-lg-1">

        </div>
        <div class="col-lg-11">
            <ul>
                <li>
                    <h1>Secundario Completo</h1> - 
                    <h3>(2014-2019)</h3>
                </li>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Ipsam pariatur iure similique eaque minus, commodi obcaecati fugiat ad suscipit 
                    accusamus dicta modi quidem delectus cumque officia ratione nihil cum voluptatibus.
                </p>
            </ul>
            <ul>
                <li>
                    <h1>Ingenieria en Sistemas de Informacion UTN-FRVM</h1> - 
                    <h3>(2020-2022)</h3>
                </li>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Ipsam pariatur iure similique eaque minus, commodi obcaecati fugiat ad suscipit 
                    accusamus dicta modi quidem delectus cumque officia ratione nihil cum voluptatibus.
                </p>
            </ul>
            <ul>
                <li>
                    <h1>Argentina Programa #SeProgramar</h1> - 
                    <h3>(2021)</h3>
                </li>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Ipsam pariatur iure similique eaque minus, commodi obcaecati fugiat ad suscipit 
                    accusamus dicta modi quidem delectus cumque officia ratione nihil cum voluptatibus.
                </p>
            </ul>
        </div>
    </div>
</div>
